<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon left name='menu'></ion-icon>
      Event Buddy
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let group of groupList">
    <ion-card-header (click)="navToDetails(group)">
     <a>{{group.name}}</a>
    </ion-card-header>
    <ion-card-content>
     {{group.details}}
    </ion-card-content>
  </ion-card>
  <!-- <ion-fab top left *ngIf="loaded">
    <img src="assets/images/en.png" tappable (click)="setLanguage()" *ngIf="language == 'en'">
    <img src="assets/images/es.png" tappable (click)="setLanguage()" *ngIf="language == 'es'">
  </ion-fab> -->
  <!-- <div class="top" text-center>
    <img src="assets/images/groups.jpg">
  </div>  -->

  <!-- <div class="bottom" text-center *ngIf="loaded">
    <button ion-button icon-left color="sandy" [disabled]="!network.online()" (click)="setLanguage()">
      <ion-icon name="md-settings"></ion-icon>
      {{ 'SET_LANGUAGE' | translate }}
    </button>
    <button ion-button icon-left color="robust" [disabled]="!network.online()" (click)="navCtrl.push('UpdateProfilePage')">
      <ion-icon name="md-clipboard"></ion-icon>
      {{ 'UPDATE_PROFILE' | translate }}
    </button>
    <button ion-button icon-left color="coral" [disabled]="!network.online()" (click)="navCtrl.push('SendPushPage')">
      <ion-icon name="md-mail"></ion-icon>
      {{ 'SEND_PUSH_NOTIFICATION' | translate }}
    </button>
    <button ion-button icon-left color="skyblue" [disabled]="!network.online()" (click)="logout()">
      <ion-icon name="md-exit"></ion-icon>
      {{ 'LOGOUT' | translate }}
    </button>
  </div>  -->
</ion-content>
<ion-footer>

</ion-footer>
